

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}


/* nav Bar */

.nav-link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 13px 0;
}

.nav-link li {
    font-family: 'Rasa', serif;
    list-style: none;
    margin: 20px 20px;
}

.nav-link li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
}


/* Hero Section */

.hero_section{
    background-color: rgba(255,241,241,255);
    position: absolute;
    top: 65px;
    height: 91vh;
    width: 100%;
}

.hero_section h5{
    position: absolute;
    left: 220px;
    top: 140px;
    font-size: 20px;
}

.hero_section h1{
    position: absolute;
    left: 220px;
    top: 180px;
    font-size: 4pc;
}

.hero_section p{
    position: absolute;
    left: 220px;
    top: 350px;
    width: 50vw;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: justify;
}

.hero_section button{
    position: absolute;
    top: 480px;
    left: 220px;
    width: 10vw;
    height: 6vh;
    border: none;
    background-color: red;
    color: white;
}

.hero_section img{
    position: relative;
    left: 1000px;
    bottom: 95px;
    width: 34%;
    height: 114%;
    
}






/* --------------------------------- */

.about-section{
    position: absolute;
    top: 720px;
    border: 1px solid red;
    width: 100%;
    height: 80vh;
}

.card-section{
  display: flex;
  border: 1px solid red;
  width: 72%;
  height: 50vh;
  margin: auto;
  padding: 0;
  position: relative;
  top: 100px;
}

.cards{
    border: 1px solid rebeccapurple;
    width: 30%;
    margin: 20px;
    height: 44vh;
}
.leaf-box-art img{
   width: 10vw;
}


/* --------------third-Section */

.third-Section{
    position: absolute;
    top: 179.8%;
    border: 1px solid red;
    width: 100%;
    /* height: 100v; */
}

#Flowers-Section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;
    /* border: 1px solid red; */
}

.Flower-heading{
    border: 1px solid red;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.Flower-heading h3{
    font-size: 2.7rem;
    border: 1px solid red;
    font-weight: 600;
    text-transform: uppercase;
    color: #222;
}
.secondTopic{

    font-size: 2.7rem;
    border: 1px solid red;
    font-weight: 600;
    text-transform: uppercase;
    color: #222;
}



.flower-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(237,237,237,0.6);
    flex-wrap: wrap;
    margin: 20px;
}

.flower-filter li{
    margin: 10px;
    padding: 5px 20px;
    color: #9b9b9b;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}

.flower-filter-active{
    background-color: #f0f0f0;
    color: #272727;
}

/* ----------------------------- */

.flower-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.flower-box{
    width: 270px;
    height: 280px;
    padding: 15px;
    border: 1px solid #eeeeee;
    margin: 20px;
}

.flower-box img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

